@import "../../scss/variables";

.site-list {
    a {
        color: $navLinkColor;
        transition: all 0.5s ease-in-out;
        &:hover {
            color: $navLinkHoverColor;
            text-decoration: none;
        }

    }
}
.card {
    background: rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.7);
    margin-bottom: 1rem;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
}