section,
header {
    background-size: cover;
    background-blend-mode: overlay;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
}
#landing {

}
#about {
  background-color: #00444c;
  background-image: url('../assets/img/social_archaeology.jpg');
  background-position: center;
}