#dashboard {
  padding-top: 5rem;
  height: 100%;

}
.card {
  .card-header {
    h2 {
      font-size: 1.5rem;
    }
  }
}
.user-data {
  padding-bottom: 2rem;
  h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  h2 {
    font-family: 'Dosis', sans-serif;
  }
  img {
      width: 70%;
      max-width: 200px;
      border-radius: 50%;
  }
}
.bio {
  padding-top: 2rem;

  p {
    text-align: left;
  }
}