
.site-map {
  height: 50vh;
  max-height: 600px;
  box-shadow: 0 0 5rem rgba(0,0,0,0.9);
}
.site-info {
  padding-top: 2rem;
  text-align: left;
  h2 {
    text-align: center;
  }
  h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
  }
  .lead {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
  }
}
h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
}
.data-list {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: left;

  dt {
    width: 30%;
  }
  dd {
    width: 60%;
    margin-left: 10%;
  }
}