// functions
@import "./scss/functions";
// vars
@import "./scss/variables";


html {
  &.sr {
    .sr-header,
    .sr-item,
    .scale-up-subtle,
    .sr-slide-up,
    .sr-slide-right,
    .sr-slide-down,
    .sr-fade-slow {
      visibility: hidden;
    }

  }
}
.App {
  text-align: center;
}
nav.navbar {
  background: rgba(0,0,0,0.7);
  box-shadow: 0 0 3rem 0.3rem rgba(0,0,0,1);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;

  .navbar-brand {
    color: $navLinkColor;
    font-weight: 100;
    &:hover {
      color: $navLinkHoverColor;
    }
  }
  .navbar-nav {
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: tint($mainBg, 80%);
    }
    a.nav-link {
      color: $navLinkColor;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $navLinkHoverColor;
      }
    }
  }

}

section, header[id] {
  height: 100vh;
  max-height: 100%;
  text-align: center;
  color: #fff;
  padding-top: 5rem;
  background: radial-gradient(ellipse at center, $mainBgTint
 1%,$mainBgDarken 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    &#sites {
      padding-top: 0;
    }
    .form-wrapper {
      h2 {
        font-family: 'Raleway', sans-serif;
      }
    }
  h1, h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 100;
  }
  h2 {
    font-size: 2.5rem;
    font-family: 'Noto Serif KR', sans-serif;
    font-weight: 200;
  }
  p {
    font-family: 'Roboto', sans-serif;
  }
  .precis {
      justify-content: center;
  }
}
a {
  color: $navLinkColor;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: $navLinkHoverColor;
  }
}
.intro {
  p {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 2rem;
    font-weight: 200;
  }
}

.container, .container-fluid {
    text-align: center;

}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.btn-primary {
  background: tint($mainBg, 30%);
  border: none;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background: tint($mainBg, 40%);
  }

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
