// functions
@import "./scss/functions";
// vars
@import "./scss/variables";


html {
  background-color: $mainBg;

  &.sr {
    .sr-header,
    .sr-item,
    .scale-up-subtle,
    .sr-slide-up,
    .sr-slide-right,
    .sr-slide-down,
    .sr-fade-slow {
      visibility: hidden;
    }
    .loading {

    }
  }
}
body {
  // div[class*="Preloading"] {
  //   display: flex !important;
  // }
  // &[data-gr-c-s-loaded="true"] {
  //   [class*="Preloading"] {
  //     display: none !important;
  //   }
  // }
    overflow-x: hidden;
    width: 100%;
  .loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    background: rgba(255,255,255, 0);
    border: 1.1em solid rgba(255,255,255, 0.9);
    border-left: 1.1em solid rgba($secondaryColor, 1);
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
  }

@keyframes load8 {
  0% {
    transform: rotate(0deg);
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.8;
  }
}
}
.App {
  text-align: center;
}

nav.navbar {
  background: rgba(0,0,0,0.7);
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.88), rgba(0,0,0,0.85));
  box-shadow: 0 0 3rem 0.3rem rgba(0,0,0,1);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;

  .navbar-brand {
    color: $navLinkColor;
    font-weight: 100;
    &:hover {
      color: $navLinkHoverColor;
    }
  }
  .navbar-nav {
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: tint($mainBg, 80%);
    }
    a.nav-link {
      color: $navLinkColor;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $navLinkHoverColor;
      }
    }
  }

}

section, header[id] {
  height: 100vh;
  max-height: 100%;
  text-align: center;
  color: #fff;
  padding-top: 5rem;
  background: $mainGradient;

    &#sites,
    &#site-details {
      padding-top: 0;
    }

    .form-wrapper {
      h2 {
        font-family: 'Raleway', sans-serif;
      }
    }
  &.free-height {
    min-height: 100%;
    max-height: none;
    height: auto;
  }
  h1, h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 100;
  }
  h2 {
    font-size: 2.5rem;
    font-family: 'Noto Serif KR', sans-serif;
    font-weight: 200;
  }
  p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 100;
  }
  .precis {
      justify-content: center;
  }
}
a {
  color: $navLinkColor;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: $navLinkHoverColor;
  }
}
.intro {
  p {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 2rem;
    font-weight: 200;
  }
}

.container, .container-fluid {
    text-align: center;

}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.btn-primary {
  background: tint($mainBg, 30%);
  border: none;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background: tint($mainBg, 40%);
  }

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
